<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Breadcrumb',
  props: {
    crumbs: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
});
</script>

<template>
  <span class="breadcrumb">
    <span
      v-for="(crumb, index) in crumbs"
      :key="index"
      class="breadcrumb__crumb"
      :class="{ 'breadcrumb__crumb--disabled': index === crumbs.length - 1 }"
    >
      <a :href="crumb.href">
        <SlpTypography tag="span" variant="body2">{{
          crumb.title
        }}</SlpTypography>
      </a>
      <span v-if="index !== crumbs.length - 1" class="breadcrumb__chevron">
        <SlpIcon name="chevron-right" variant="product" size="xs" />
      </span>
    </span>
  </span>
</template>

<style scoped lang="scss">
.breadcrumb {
  display: flex;

  &__crumb {
    display: flex;
    color: $color-text-link-100;

    &--disabled {
      color: $color-text-200;
    }

    a {
      color: inherit;
    }
  }

  &__chevron {
    margin: 1px 10px 0 6px;
  }
}
</style>
