<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'KubeconHero',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="kc-hero">
    <SlpContainer>
      <SlpRow class="slp-mt-96">
        <SlpColumn :cols="7">
          <SlpTypography
            variant="body2-bold"
            tag="p"
            class="kc-hero__accent slp-pb-24"
          >
            GitLab + KubeCon NA 2022
          </SlpTypography>
          <SlpTypography
            variant="heading1-bold"
            tag="h1"
            class="kc-hero__headline slp-pb-32 slp-pr-32"
          >
            {{ data.headline }}
          </SlpTypography>
          <SlpButton
            v-if="data.call_to_action"
            variant="secondary"
            :href="data.call_to_action.button_link"
            >{{ data.call_to_action.button_text }}</SlpButton
          >
        </SlpColumn>
        <SlpColumn :cols="5" class="slp-mb-96">
          <div class="kc-hero-list">
            <SlpTypography
              variant="body1-bold"
              tag="p"
              class="kc-hero-list__heading"
            >
              {{ data.sub_heading }}
            </SlpTypography>
            <ul>
              <li
                v-for="(item, index) in data.list"
                :key="index"
                class="kc-hero-list__item"
              >
                <img
                  :src="`/nuxt-images/icons/kubecon/${item.icon}`"
                  alt=""
                  class="kc-hero-list__icon"
                />
                {{ item.description }}
              </li>
            </ul>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.kc-hero {
  background: linear-gradient(105.1deg, #000001 0%, #140123 86.48%);

  &__accent {
    color: $color-surface-950;
  }

  &__headline {
    color: $color-text-50;
  }
}

.kc-hero-list {
  padding: $spacing-48 $spacing-32;
  border: 2.25px solid transparent;
  border-radius: 8px 8px 90px 8px;
  background: linear-gradient(105.1deg, #000001 0%, #140123 86.48%) padding-box,
    linear-gradient(90deg, #e2b6f1, #7759c2) border-box;
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;

  @media screen and (max-width: $breakpoint-sm) {
    margin-right: $spacing-16;
  }

  &::before {
    transform: translateZ(-1px);
    content: '';
    position: absolute;
    z-index: -1;
    top: 28px;
    right: -24px;
    width: 100%;
    height: 100%;
    border: 2.25px solid transparent;
    border-radius: 8px 8px 90px 8px;
    background: linear-gradient(105.1deg, #000001 0%, #140123 86.48%)
        padding-box,
      linear-gradient(90deg, #e2b6f1, #7759c2) border-box;
  }

  @media screen and (max-width: $breakpoint-sm) {
    margin-top: $spacing-48;
  }

  &__heading {
    color: $color-text-50;
    padding-bottom: $spacing-24;
  }

  &__item {
    display: flex;
    line-height: 1.25;
    color: $color-text-50;
    padding-bottom: $spacing-24;
  }

  &__icon {
    stroke: #a989f5;
    width: 24px;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 2;
    margin-right: 12px;
  }
}
</style>
