<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'KubeconIntro',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer class="slp-my-96">
    <SlpRow>
      <SlpColumn :cols="8">
        <SlpTypography variant="heading2-bold" tag="h2" class="slp-pb-24">{{
          data.headline
        }}</SlpTypography>
      </SlpColumn>
      <SlpColumn :cols="9">
        <SlpTypography variant="heading5-bold" tag="p">{{
          data.description
        }}</SlpTypography>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped></style>
